.container-1 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}


.title {
  font-size: 30px;
}



.teste {
  transform: rotate(270deg);
  flex-wrap: nowrap;
  align-items: center;
}



span {
  display: block;
  background-color: green;
  height: 0.3rem;
  width: 12rem;
  z-index: 10;
}

h1 {
  display: block;
  font-size: 2.5rem;
  font-weight: 1000;
}

@media (max-width:990px) {
  .teste {
    transform: none;
    padding-top: 16px;
  }

  h1 {
    padding-top: 12px;
  }

  .container-1 {
    justify-content: left;
  }

}