.title {
  font-size: 30px;
}

.teste {
  transform: rotate(270deg);
  position: relative;
  width: 30rem;
}
span {
  background-color: green;
  // position: absolute;
  height: 0.3rem;
  width: 12rem;
  margin-right: 16px;
  margin-top: 20px;
  z-index: 10;
}

h1 {
  font-size: 2.5rem;
  font-weight: 1000;
}
