<div class="background-master">
  <div class="cv-paper">
    <header>

    </header>

    <div class="container container-principal">

      <body>
        <main class="row container-sm">

          <aside class="col-4">

            <img class="mb-5 rounded" src="../assets/foto.png" alt="Foto de Perfil">

            <div class="identification">
              <h1>Willians Smiths</h1>
              <h3>Design Gráfico</h3>
            </div>

            <div class="container-skills">
              <h4>Skills</h4>
              <app-skills></app-skills>
              <!-- https://getbootstrap.com/docs/4.0/components/progress/ -->

            </div>
            <div>


              <div class="container-address">
                <h4>Endereço</h4>
                <p>Rua Deodoro Fonseca, 1399</p>
                <p>Jardim Paraíso</p>
                <p>Solaris - RJ</p>
              </div>

              <div class="container-contact">
                <h4>Contato</h4>
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <p>meu-email@gmail.com</p>
                    <p>99 9999-9999</p>
                  </div>
                  <div class="col-12 col-lg-6">
                    <img src="../assets/WHATS.png" alt="QR Code de Contato">
                  </div>
                </div>
              </div>
            </div>
          </aside>



          <div class="col-8">
            <div class="container-about">
              <section class>
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique rem ullam exercitationem officiis delectus aut error odio minus tempora distinctio amet nam consequuntur, ipsam quas voluptatibus eligendi earum eum ad.</p>
              </section>
            </div>
            <!-- <div class="side-title">

            </div> -->

            <div>
              <section class="education">
                <app-info></app-info>
              </section>

              <!-- <section class="experience">
              <app-info></app-info>
            </section> -->


            </div>
          </div>
        </main>
      </body>

      <footer>
        <h3>Mídias Sociais</h3>
        <div>
          <a href="">instagram</a>
          <a href="">behance</a>
          <a href="">github</a>
        </div>

      </footer>
    </div>
  </div>
</div>

<router-outlet></router-outlet>