aside {
  color: white;
  background-color: #121214;

  padding: 2rem 0 0 0;

  h1 {
    font-size: 3rem;
    line-height: 3.1rem;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 1rem;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .container-skills {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }



  .identification,
  .container-skills,
  .container-address,
  .container-contact {
    padding: 0 2rem;
  }

  .container-address,
  .container-contact {
    background-color: #323232;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.barra-title {
  background-color: #121214;
  width: 100%;
  display: block;
}

.teste h1 {
  transform: rotate(270deg);
  font-weight: 900;
  font-size: 2rem;
}



.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 20px;
  background-color: #121214;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: white;
}