aside {
  color: white;
  background-color: #121214;

  padding: 2rem 0;

  h1 {
    font-size: 3rem;
    line-height: 3.1rem;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 1rem;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .container-skills {
    height: 15rem;
    border: 1px solid;
  }

  .identification,
  .container-skills,
  .container-address,
  .container-contact {
    padding: 0 2rem;
  }

  .container-address,
  .container-contact {
    background-color: #323232;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
