<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
<div class="background-master">
  <div class="cv-paper">
    <header>

    </header>


    <div class="row">
      <div class="container container-principal">
        <body>
          <main class="row container">

            <aside class="col-12 col-lg-4">
              <app-profile></app-profile>
              
              <div class="container-skills">
                <app-skills></app-skills>
              </div>
              <div>


                <div class="container-address">
                  <app-address></app-address>
                </div>

                <div class="container-contact">
                  <app-contact></app-contact>
                </div>
              </div>
            </aside>



            <div class="col-12 col-lg-8">
              <section class="about">
                <app-about></app-about>
              </section>

              <div>
                <section class="infos">
                  <app-info></app-info>
                </section>
              </div>

              <footer>
                <app-footer></app-footer>
              </footer>
            </div>
          </main>
        </body>


      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>