aside {
  color: white;
  background-color: #121214;

  padding: 2rem 0 0 0;


  .container-skills {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }


  .identification,
  .container-skills,
  .container-address,
  .container-contact {
    padding: 0 2rem;
  }

  .container-address,
  .container-contact {
    background-color: #323232;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.barra-title {
  background-color: #121214;
  width: 100%;
  display: block;
}


.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}
