<div class="background-master">
  <div class="cv-paper">
    <header>
      <h4>About</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique rem ullam exercitationem officiis delectus aut error odio minus tempora distinctio amet nam consequuntur, ipsam quas voluptatibus eligendi earum eum ad.</p>
    </header>

    <body>
      <main>
        <aside>
          <h1>Willians Smiths</h1>
          <h3>Design Gráfico</h3>
          <div>
            <h4>Skills</h4>
            <app-skills></app-skills>
            <!-- https://getbootstrap.com/docs/4.0/components/progress/ -->
          </div>
          <div>
            <h4>Endereço</h4>
            <p>Rua Deodoro Fonseca, 1399</p>
            <p>Jardim Paraíso</p>
            <p>Rua Deodoro Fonseca, 1399</p>
            <p>Solaris - RJ</p>

            <h4>Contato</h4>
            <p>meu-email@gmail.com</p>
            <p>99 9999-9999</p>
            <img src="" alt="QR Code de Contato">
          </div>
        </aside>

        <section class="education">
          <app-info></app-info>
        </section>

        <section class="experience">
          <app-info></app-info>
        </section>


      </main>
    </body>

    <footer>
      <h3>Mídias Sociais</h3>
      <div>
        <a href="">instagram</a>
        <a href="">behance</a>
        <a href="">github</a>
      </div>

    </footer>

  </div>
</div>

<router-outlet></router-outlet>