h1 {
    font-size: 3rem;
    line-height: 3.1rem;
  }

  h3 {

    text-transform: uppercase;
    letter-spacing: 1rem;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }
  .identification{
    padding: 0 2rem;
  }