<!-- <div class="container-skills">
  <h4>Skills</h4>
  <div class="row">
    <div class="col-4">
      <h3>Java</h3>
      <h3>Angular</h3>
      <h3>Bootstrap</h3>
      <h3>JavaScrip</h3>
      <h3>Reactive</h3>
    </div>

    <div class="container-progress-bar col-8">

      <div class="progress" style="height: 5px;">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="progress" style="height: 5px;">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="progress" style="height: 5px;">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="progress" style="height: 5px;">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="progress" style="height: 5px;">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

    </div>
  </div>
</div> -->
<div class="container-skills">
  <h4>Skills</h4>
  <div *ngFor="let itemList of skillsList.skillsList">
  <div class="row">
    <div class="col-4">
      <h3>{{itemList.skill}}</h3>
    </div>

    <div class="container-progress-bar col-8">

      <div class="progress" style="height: 5px;">
        <div class="progress-bar" role="progressbar" [style.width.%]="itemList.expertise"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>